:root {
  --primary: #06d6a0;
  --secondry: #118ab2;
}

.navbar__list {
  list-style: none;
  padding: 1rem;
  margin-left: -1rem;
}

.navbar__items {
  margin-bottom: 1rem;
}

/* Media Queries */
@media (min-width: 768px) {
  .navbar__list {
    display: flex;
  }

  .navbar__items {
    margin: 0 1rem;
  }
}
